[submodule "_slides/web-intro"]
	path = _slides/web-intro
	url = git@github.com:auremoser/web-intro.git
[submodule "_slides/web-intro-2"]
	path = _slides/web-intro-2
	url = git@github.com:auremoser/web-intro-2.git
[submodule "_slides/git-intro"]
	path = _slides/git-intro
	url = git@github.com:auremoser/git-intro.git
[submodule "_slides/45b5a315125dd32af75e"]
	path = _slides/timeseries
	url = git@gist.github.com:45b5a315125dd32af75e.git
[submodule "_slides/web-js"]
	path = _slides/web-js
	url = git@github.com:auremoser/web-js.git
[submodule "_slides/25a1f08c46c84a3bc9e4"]
	path = _slides/maps
	url = git@gist.github.com:25a1f08c46c84a3bc9e4.git
[submodule "_slides/affa7b18003841800148"]
	path = _slides/graphs
	url = git@gist.github.com:affa7b18003841800148.git
[submodule "_slides/4479f13e7bdde9058a30"]
	path = _slides/colors
	url = git@gist.github.com:4479f13e7bdde9058a30.git
